$primary-color: rgba(0, 0, 0, 0.87);;

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #f7f7f7;
    color: $primary-color;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        text-decoration: underline;
    }
}

canvas {
    // box-sizing: border-box;
    display: block;
    // border: red solid 1px;
}

.content {
    max-width: 1000px;
    // border: red solid 1px;

    // display: flex;
    // flex-direction: column;

    .content-text {
        margin-bottom: 2em;
    }
}

// .content-link {
//     color: $primary-color;
//     text-decoration: none;

//     &:hover {
//         text-decoration: underline;
//     }
// }

.email-link {
    font-weight: 500;
    font-size: 20px;
}

.showcase-entries {
    margin: 4em 0;

    ul {
        margin-bottom: 2em;
    }

    a {
        display: flex;
        align-items: center;

        img {
            max-width: 1.5em;
            margin-left: 0.5em;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 500;

        margin: 0.5em 0;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;

        margin: 0;
    }
}

.footer {
    margin: 10px 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    a {
        color: $primary-color;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        font-size: x-large;
        margin: 0 40px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 80px;

    h1 {
        font-size: 36px;
        font-weight: 500;
    }

    p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .content {
        padding: 0 20px;
    }

    #navbar {
        // flex-direction: row;
        flex-wrap: wrap;
        
        div {
            margin: 10px 0;
        }
    }

    // #three-model {
    //     display: none;
    // }

    .splash-model {
        display: none;
    }
}
