$primary-color: rgba(0, 0, 0, 0.87);;

body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    background: #f7f7f7;
    color: $primary-color;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
}

canvas {
    // box-sizing: border-box;
    display: block;
    // border: red solid 1px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    a {
        color: $primary-color;
        text-decoration: none;
        font-weight: 500;
        font-size: x-large;
        margin: 0 40px;
    }
}



// @media (max-width: 600px) {

//     body,
//     #message {
//         margin-top: 0;
//         background: white;
//         box-shadow: none;
//     }

//     body {
//         border-top: 16px solid #ffa100;
//     }
// }
